@use 'src/styles/vars';

.modal-container {
    position: fixed;
    align-items: center;
    
}

.modal-content {
    width: 100vw;
    background-color: green;
    justify-content: space-evenly;
    align-items: center;    
}