@use 'src/styles/vars';

.modal-container {
    position: absolute;
    align-items: center;
    top: 100%;
    width: 100%;
    border-top: 2px solid white;

    
}

.modal-content {
    background: vars.$primary-color;
    justify-content: center;
    gap: 6rem;
    padding: 1rem;
    > * {
        margin: 0;
    }
    
    display: flex;

        
}