.container-sols {
    display: flex;
    margin-top: 5rem;
}

.colonne-sols{
    flex: 1;
    text-align: center;
}
.colonne-sols2{
    flex: 1;
    text-align: center;
}

.colonne-sols3{
 flex: 1;
 text-align: center;
}

.colonne-sols4{
    flex: 1;
    text-align: center;
   }

.test-p {
    color: black;
    font-style: oblique;
    
}


.column-image {
    width: 12rem;

}

.sols-test {
    font-size: 1.6rem;
    
}

.sols-p {
    color: white;
    text-align: center;
    font-size: 4rem;
    margin-top: 3rem;
}

