// Vieille palette
// $main-color: #F2F2F2;
// $stroke-color: #272343;
// $primary-color: #e3f6f5;
// $secondary-color: #bae8e8;
// $highlight-color: #ffd803;

$main-color: #F2F2F2;
$stroke-color: #272343;
$primary-color: #212E53;
$secondary-color: #74CFEC;
$highlight-color: #FFC93C;