@use 'src/styles/vars';

body { margin: 0; }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: green;
  position: sticky;
 

  &-container {
    height: 20%;
    gap: 10px;
  }

  &-left {
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  &-middle {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  &-right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2em;
  }

  &-button {
    border-radius: 20%;
    border-style: none;
    background-color: #4A919E;
    border-color: white;
    padding: 0.5rem;
    border: solid white 1Òpx;
  }
  
  h2 {
    color: white;
  }
}

.navbar-logo {
  width: 8rem;
}

