@use 'src/styles/vars';


.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 6rem;
    
    &-h2 {

        margin-left: 3.5rem;
        font-style: oblique;
        text-overflow: ellipsis;
        width: 2rem;
    }

    &-text {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -1rem;
    }

    &-p {
        font-size: 10px;
        font-style: oblique;
    }

}

.text {

    &-button {
        display: flex;
        justify-content: space-around;
        gap: 6rem;
        margin-top: 8rem;
        font-size: 2rem;
        margin-bottom: 10rem;

        &-products {
            padding: 1rem 1rem 1rem 1rem;
            border-radius: 10%;
            border: 2px solid #4A919E;
        }
    
        
        &-documents {
            border: solid 2px vars.$primary-color;
            padding: 1rem 1rem 1rem 1rem;
            border-radius: 10%;
        }
    }
}


.text-button-products:hover {
    background-color: #4A919E;
    color: white;
}

.text-button-documents:hover {
    background-color: vars.$primary-color;
    color: white;
}

body {
    background: url("../../assets/background/DopqTB (1).png") no-repeat center/ cover;
}

.flag {

    width: 4rem;
    margin-top: 1rem;

}

.h2-h2 {
    color: black;
}