.container-sols {
    display: flex;
    margin-top: 5rem;
    @media screen and (max-width:1024px) {
        flex-direction: column;
    }
}

.colonne-sols{
    flex: 1;
    text-align: center;
}
.colonne-sols2{
    flex: 1;
    text-align: center;
}

.colonne-sols3{
 flex: 1;
 text-align: center;
}


.test-p {
    color: black;
    font-style: oblique;
    
}


.column-image {
    width: 12rem;

}

.sols-test {
    font-size: 1.6rem;
    
}

.sols-p {
    color: white;
    text-align: center;
    font-size: 4rem;
    margin-top: 3rem;
    @media screen and (max-width:1024px) {
        flex-direction: column;
        font-size: 3rem;
        gap: 3rem;
        line-height: 4rem;
    }
}

