.container-sols {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.column-sols{
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;

}

.test-p {
    color: black;
    font-style: oblique;
}

.test-p:hover {
    transform: scale(1.5)
}

.column-image {
    width: 20rem;
}